/* Tooltip.module.css */
.tooltip {
    position: absolute;
    background-color: black;
    color: rgb(242, 231, 231);
    padding: 8px;
    border-radius: 4px;
    /* visibility: ; */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .container button:hover + .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .top {
    transform: translateX(-50%);
    bottom: 76%;
    left: 50%;
    margin-bottom: 8px;
  }
  
  .bottom {
    transform: translateX(-50%);
    top: 30%;
    left: 50%;
    margin-top: 8px;
  }
  
  .left {
    transform: translateY(-50%);
    right: 55%;
    top: 28%;
    margin-right: 8px;
  }
  
  .right {
    transform: translateY(-50%);
    left: 55%;
    top: 28%;
    margin-left: 8px;
  }
  